{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}About Us and Terms of Service{% endblock %}

{% block content %}
<p class="text-left">
    This website is under a free use license for educational use. Created in 2022, this website is designed for
    replacing <a href="https://www.louslist.org/">Lou's List</a> and provides a formatted method for University of Virginia students to access class informaiton.<br>
</p>

<h2>
    Conditions of Use
</h2>
<body>
    The servies provided are free of charge. By using this website, you accept the conditions.
</body>
<h2>
    Privacy
</h2>
<body>
    Information about user settings are stored in secure databases. User information is not sold or given without the permission of users to 3rd party companies.
</body>
<h2>
    Copyright
</h2>
<body>
    Content published on this website is made by the authors of this website. The use of resources of this website is under a free use license. The authors of this website do not profit from website traffic.
</body>
<h2>
    Communications
</h2>
<body>
    By providing form of communication, users allow website administators to contact users through the provided contact information. You also agree that all notices, disclosures, agreements, and other communications we provide to you electronically meet the legal requirements that such communications be in writing.
</body>
<h2>
    Comments
</h2>
<body>
    Users who are logged into accounts may post comments as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy, or injurious to third parties. Comments must be free of viruses and any solicitation for profit. Comments will be removed and users will be banned for violating these rules. Additionally, the University of Virginia's Standards of Conduct, state, and federal statue apply to all form of speech made by users. If needed, users will be reported to the appropriate authority at university, state, or federal levels. 
</body>
<h2>
    Account Information
</h2>
<body>
    Users are solely responsible for updating and maintaining their accounts. This includes updating passwords when necessary.
</body>
{% endblock %}