{% extends 'home/bootstrap.html' %}

{% load bootstrap5 %}
{% load socialaccount %}

{% block bootstrap5_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class='nav-link' href="/">Homepage</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="/search">Search for Classes</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class='nav-link' href="/friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="/all-profiles">All-Profiles</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class='nav-link' href="/about-us">About us</a>    
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
           <li class="nav-item">
                <p>Welcome, {{user.username}}</p>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="/profile/{{user.id}}">My Profile</a>
            </li>
            <li class="nav-item">
                <a class='nav-link' href="/accounts/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class='nav-link' href="/accounts/google/login">Login with google</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="container column gap-2">
    <div class="row">
        <header>
            <h1>
                <br/>
                <emph>{% block title %}(no content){% endblock %}</emph>
                <br />
            </h1>
        </header>
    </div>
    <div class="row p-2">
        {% block content %}{% endblock %}
    </div>
    <!--{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}-->
</div>
{% endblock %}
