{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}{{course.department.subject}}: {{course.catalog_number}}{% endblock %}

{% block content %}
<content>
    <h2>{{course.description}}</h2>
    <p>Average GPA: {{course.average_gpa}}</p>
    <ul>
        {% for review in course.review_set.all %}
            {% if review.has_text %}
                <li>{{review.rating}} -- {{review.text}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
</content>
{% endblock %}