{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}{{ object_list.dept }} List Page{% endblock %}

{% block content %}
    <div class="accordion" id="accordionExample">
        {% for course, sections in object_list.courses_json.items %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ forloop.counter }}">
         <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
            <div style="width: 800px;">{{ course }}</div>
<!--              this width value is temporary, I hasn't able to figure out how to keep the badge on the right while in the button-->
              <div class="badge bg-primary rounded-pill pl-4" style = "float:right">{{ sections|length }} Section(s)</div>

          </button>
        </h2>
        <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapsed collapse" aria-labelledby="heading{{ forloop.counter }}">
          <div class="accordion-body">
              <ul>
                {% for section in sections %}

                <li class="list-group-item">
                {%with section.meetings|first as meeting %}
                <div class="container">
                  {% if section.topic %}
                    <h6>{{ section.topic }}</h6>
                  {% endif%}
                  <div class="row align-items-center">
                    <div class="col">
                      <small>{{ section.course_number }}</small>
                      <small>{{ section.course_section }}</small>
                    </div>
                    <div class="col-3">
                      <small>{{ section.component }} {{ section.units }} Units | </small>
                      <small>{{ section.enrollment_available }}/{{ section.enrollment_total }} Seats</small>
                    </div>
                    <div class="col-2">
                      <small>{{ section.instructor.name }}</small>
                    </div>
                    <div class="col">
                      {{ meeting.days }} {{ meeting.start_time|slice:"0:2" }}:{{ meeting.start_time|slice:"3:5" }} - {{ meeting.end_time|slice:"0:2" }}:{{ meeting.end_time|slice:"3:5" }}
                    </div>
                    <div class="col">
                      {{ meeting.facility_description }} <a href="https://www.google.com/maps/search/?api=1&query={{meeting.facility_description}}"> click here for Google Maps View</a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col">
                      {% if section in profile.schedule.classes.all %}
                        <small>Already in schedule</small>
                      {% else %}
                      <form method="post" id="add_section_form-{{ section.course_number }}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-xs rounded-pill" name="section_add" id="{{ section.course_number }}" value="{{ section }}">
                          <small>Add To Schedule</small>
                        </button>
                      </form>
                      <script src="https://code.jquery.com/jquery-3.5.1.js" 
                              integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
                              crossorigin="anonymous"></script>
                      <script type="text/javascript">
                        $(document).on('submit','#add_section_form-{{ section.course_number }}',function(e){
                            e.preventDefault();
                            $.ajax({
                                type:'POST',
                                url:'{% url "home:dept_detail" object_list.dept %}',
                                data:
                                {
                                    section_add:$("#{{ section.course_number }}").val(),
                                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                                },
                                success:function(){},
                                })
                            });
                        </script>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="col">
                      <small>To add class to schedule, <a href="/accounts/google/login">Login</a></small>
                    </div>
                    {% endif %}                    
                  </div>
                </div>
                {% endwith %}
                </li>

                {% endfor %}
                </ul>
            </div>
        </div>
      </div>

        {% endfor %}
    </div>

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
{% endblock %}
