{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% block title %}Department List Page{% endblock %}
        </div>
        <div class="row">
            <ul>
                {% for course, sections in object_list.courses_json.items %}
                <li>{{ course }}
                    <div class="'row">
                        <ul>
                            {% for section in sections %}
                            <li> {{ section.course_section }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>

                {% endfor %}
            </ul>
        </div>

    </div>
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
{% endblock %}