{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
Friend invites
{% endblock title %}

{% block content %}

    {% if is_empty %}
        <h1>No invitations here...</h1>
    {% endif %}
    <div class="row p-2">
        <h3>Friends:</h3>
        <div class="card example-1 scrollbar-ripe-malinka">
            <div class="card-body">
                <p class="h6">{{profile.get_friends_no}} friend(s)</p>
                <ul>
                {% for friend in profile.get_friends %}
                    <li><a class='item-group' href="/profile/{{friend.profile.id}}">{{friend.first_name}} {{friend.last_name}} ({{friend.username}})</a>, to comment on their schedule click <a class='item-group' href="/add-comment/{{friend.profile.id}}">here</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% for obj in qs %}
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="three wide column">
                        <img class="ui small circular image" src={{obj.avatar.url}}>
                    </div>
                    <div class="thirteen wide column">
                        <h3>{{obj.user}}</h3>
                        <p>{{obj.username}}</p>
                        <br>
                        <a href="/profile/{{obj.user.id}}">
                            <button class="ui primary button w-big mb-5" href="/profile/{{obj.user.id}}">See profile</button>
                        </a>
                        <form action="{% url 'home:accept-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui positive basic button w-big mb-5">
                                <i class="check icon"></i>
                                Accept invite
                            </button>
                        </form>
                        <form action="{% url 'home:reject-invite' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="profile_pk" value={{obj.pk}}>
                            <button type="submit" class="ui negative basic button w-big mb-5">
                                <i class="close icon"></i>
                                Reject invite
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
