{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}
Friends List
{% endblock title %}

{% block content %}
<h1>Friend invites of : {{profile.user}}</h1>
<u1>
    {% for item in qs %}
    <li>{{item}}</li>
    {% endfor %}
</u1>
<form>
    <p>Add a friend! Look up a friend by their first and last name or by email.</p>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br><br>
    <input type="submit" value="Submit">
</form>
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
{% endblock content %}
