{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Landing Page{% endblock %}

{% block content %}
<content>
    <p>Hello, this is the landing page</p>
    <div class="card example-1 scrollbar-ripe-malinka">
      <div class="card-body">
          {% for dept in deptList %}
<!--          We can add a link to each department name to take to that department page, or filter a table-->
            <a>{{ dept.subject }}</a>
          {% endfor %}
      </div>
    </div>
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
</content>
{% endblock %}