{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}Profile Page{% endblock %}

{% block content %}
<content>
    <h2>Account: {{profile.user.username}}</h2>
    <h4>Friends:</h4>
    {% if profile.friends %}
    <ul class="nav flex-column">
        {% for friend in profile.friends %}
        <li class="nav-link" href="#">
            <p>{{friend.user.username}}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Ha Ha you have no friends :P</p>
    {% endif %}
    <h4>Calendar:</h4>
    {% include 'calendar.html' %}

    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
</content>
{% endblock %}