{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Class Search{% endblock %}

{% block content %}
<content>

    <div class="card form-group">
      <form action="/search" method="post">
        {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Submit" class="form-control">
      </form>
    </div>
    {{search_data}}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
</content>
{% endblock %}