{% extends 'home/base.html' %}

{# Load the tag library #}
{% load bootstrap5 %}

{% load course_list_tags %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block title %}Class Search{% endblock %}

{% block content %}

<content>
  <form method="post">
    {% csrf_token %}
    <div class="pb-5 px-5">
        <div class="card form-group p-4">
          {{ form.as_p }}
          <input type="submit" value="Submit" class="form-control">
        </div>
    </div>

<!--    {{search_data}}-->
    <div>
        {% for section in search_data %}
        <div>
<!--            <ul>-->
            <li class="list-group-item">
                {%with section.meetings|first as meeting %}
                <div class="container">
                <h6>{{ section.Mnemonic }} {{ section.Number }} {{ section.Title }}</h6>
                  <div class="row align-items-start">
                    <div class="col">
                      <small>{{ section.ClassNumber }}</small>
                      <small>{{ section.Section }}</small>
                    </div>
                    <div class="col">
                      <small>{{ section.Type }} {{ section.Units }} Units</small>
                    </div>
                    <div class="col">
                      <small>{{ section.Enrollment }} / {{ section.EnrollmentLimit }}</small>
                    </div>
                    <div class="col-2">
                      <small>{{ section.Instructor }}</small>
                    </div>
                    <div class="col-2">
                      <small>{{ section.Days }}</small>
                    </div>
                    <div class="col-2">
                      <small>{{ section.Room }} <a href="https://www.google.com/maps/search/?api=1&query={{section.Room}}" target="_blank" rel="noopener noreferrer"> click here for Google Maps View</a></small>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-2">
                      {% if section.ClassNumber|in_schedule:user.profile.schedule.classes.all == 0 %}
                      <small><button type="submit" class="btn btn-primary btn-xs rounded-pill" name="section_add"
                        id="{{ section.ClassNumber }}" value="{{ section }}" onclick="this.textContent = 'Added to Schedule'">Add To Schedule</button></small>
                      {% else %}
                      Class already in schedule.
                      {% endif %}
                    </div>
                    {% else %}
                    <div class="col-2">
                      <small>To add class to schedule, <a href="https://louslist-a28.herokuapp.com/accounts/google/login/">Login</a></small>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endwith %}
                </li>
<!--            </ul>-->
        </div>
        {% endfor %}
    </div>
  </form>

  {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
</content>
{% endblock %}